.page{
	padding-top: 5%;
	background-image: url("https://cdn.schoolblocks.com/organizations/a9dcd021-992a-4dcc-9f63-075603378c17/blocks/7e5d3742-de14-4a79-a204-94129b5bf1b3/7wlb12-background%206.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}